@charset "UTF-8";
// 雪碧图处理
%getIconsPath{
	display: block;
	background-image: sprite-url($icons);
	background-repeat: no-repeat;
	background-position-y: 0;
	background-size: floor(image-width(sprite-path($icons)) / $ppr);
}
@mixin getIcon($iconName){
	$width: image-width(sprite-path($icons));
	$iconWidth: image-width(sprite-file($icons, $iconName));
	$iconHeight: image-height(sprite-file($icons, $iconName));
	$posX: nth(sprite-position($icons, $iconName), 1);
	width: $iconWidth / $ppr;
	height: $iconHeight / $ppr;
	@if $posX != 0{
		background-position-x: $posX / ($iconWidth - $width) * 100%;
	} @else{
		background-position-x: 0;
	}
	@extend %getIconsPath;
}